body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-self: center;
}
button:hover {
  background-color: rgb(254, 189, 109);
}
