.filter-input {
  margin: auto;
  margin-bottom: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.filter-input div {
  display: inline;
  /* flex-direction: row; */
  align-items: center;
  /* justify-content: center; */
}
#prio-filter {
  margin-left: 15px;
  width: 74%;
}
#cate-filter {
  /* margin-left: 5px; */
  width: 74%;
}
h4 {
  margin-bottom: 5px;
}
@media only screen and (min-width: 380px) and (max-width: 530px) {
  h4 {
    margin-left: 5px;
  }
  .filter-by-status {
    display: flex;
    flex-direction: column;
  }

  #prio-filter {
    margin-left: 18px;
    width: 7rem;
  }
  #cate-filter {
    margin-left: 3px;
    width: 7rem;
  }
}
